---
layout: page
title: Search
permalink: /search.html
---

<div class="container-fluid index">
  <div class="row index all-posts">
    <div id="search-container">
      <input type="text" id="search-input" placeholder="Search">
      <div class="col-md-12 content-panel articles">
        <ul id="results-container"></ul>
      </div>
    </div>
  </div>
</div>

<hr class="search-hr" />

<script src="{{ site.baseurl }}/js/jekyll-search.js" type="text/javascript"></script>

<script type="text/javascript">
  SimpleJekyllSearch.init({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    dataSource: '{{ site.baseurl }}/search.json',
    searchResultTemplate: '<li><a href="{url}">{title}<\/a><\/li>',
    noResultsText: 'No results found',
    limit: 10,
    fuzzy: true,
  })
</script>
