<section id="contact">
    <div class="container">
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <p>© 4cb10cf7. All rights reserved.</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
                <p>No reproduction without permission.</p>
        </div>

    </div>
</section>
