<header>
    <div class="header-content">
        <div class="header-content-inner">
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
