---
layout: default
---

<header>
    <div class="header-content">
        <div class="header-content-inner">
        	<h1>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<section id="portfolio">
    <div class="container-fluid">
  {{ content }}
    </div>
</section>
